.toggle{
	display:inline-block;
	margin: 10px 0 10px 0;
	height:36px;
	width:36px;  background:url("images/plus.png");
}

.toggle.expanded{
 	background:url("images/minus.png");
}

.photos{
	background-size:cover;
}




.mywork{
	width: 850px;
	margin:0 auto;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px; 
	color: #DDD;
}

.plarge{
	font-size: 21px;
	line-height: 8px;
}

.psub{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

a:link {color:#62bd55;text-decoration:none;}      /* unvisited link */
a:visited {color:#62bd55;text-decoration:none;}  /* visited link */
a:hover {color:#62bd55;text-decoration:none;}  /* mouse over link */
a:active {color:#62bd55;text-decoration:none;}  /* selected link */ 

